* {box-sizing:border-box}

/* Slideshow container */
.slideshow_container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
  overflow: hidden;
}

  .slideshow_container::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 60%; /* Adjust the height of the gradient */
    background: linear-gradient(to top, white, transparent);
    pointer-events: none; /* Ensures it doesn't block clicks or interactions */
  }

body {
    margin: 0;
    max-width: 768px; 
    overflow-x: hidden; 
    margin: 0 auto; /* Center the content */
    /* background-color: #FEFAE0; */

}
/* Hide the images by default */
.mySlides {
    display: none;
    width: 100%;
    height: 100vh; 
    position: relative;
    margin: 0;
    overflow: hidden; /* Ensures no overflow from the image */
  }


/* Overlay for text */
.overlay {
    position: absolute;
    bottom: 0%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -40%); /* Align exactly in the center */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.199); 
    text-align: center;
    z-index: 2;
  }

.girl_flower {
  padding-top: 20%;
}
.girl_girl {
    position: absolute;
    font-family: "Ms Madi", serif;
    font-style: normal;
    font-size: 5rem; 
    font-weight: lighter;
    color: #FF9FBE;
    margin-top: -50px; 
    text-align: center;
    transform: translate(130%, -40%);
    z-index: 10;
}

.baby {
    position: absolute;
    font-family: "Ms Madi", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem; 
    font-weight: lighter;
    text-align: right;
    line-height: 0.5;
    color: dimgray;
    transform: translate(90%, 70%);
    margin-top: -50px; 
    z-index: 10;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);  */
}

  /* ALOHA text */
  .aloha {
    position: relative;
    font-family: "Playfair Display SC", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 10rem; /* Large text size */
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.212);
    margin: 0; /* No extra space */
    opacity: 0.8;
    text-align: right;
    line-height: 0.7;
    z-index: 2;
}

.newline {
    display: block; /* Forces a line break */
    margin-top: 10px; /* Optional: Add additional space above the new line */
}


/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 5s; /* Adjust the duration as needed */
    animation-timing-function: ease-in-out; /* Smooth transition */
    animation-iteration-count: infinite; /* Loop the animation */
  }
  
  /* Keyframes for fade in and out */
  @keyframes fade {
    0% { opacity: 0; }   /* Completely invisible */
    25% { opacity: 1; }  /* Fully visible */
    75% { opacity: 1; }  /* Remains fully visible */
    100% { opacity: 0; } /* Fades out completely */
  }

.img_carousel {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container */
  }

/********** ITS A GIRL **********/
.girl {
    /* height: 130vh; */
    text-align: center;
  }

  .white_bcg {
    background-color: rgba(255, 255, 255, 0.8);
  }

  .girl_title {
    /* padding-top: 20%; */
    font-family: "Cormorant Infant", serif;
    font-style: normal;
    font-size: 2.5rem; /* Large text size */
    font-weight: bold;
    color: dimgray;
    text-align: center;
    margin-bottom: 10%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
    /* transform: translate(-10%, 0%); */
  }



  .girl_girl {
    font-size: 5rem;
    transform: translate(130%, -40%);
    color: #edb8c2;
  }

  .girl_img {
    padding-top: 20%;
    width: 200%;
    margin-left: -40%;

  }

  .girl_img_container::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 60%; 
    background: linear-gradient(to top, white, transparent);
    pointer-events: none; 
  }


  .girl_img_container {
    position: relative;
    margin: auto;
    overflow: hidden;
  }
  

  .green_bottom {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1)
  }

  .girl_description {
    text-align: center;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 30px;
    line-height: 1.5;
  }

/********** DATE *********/
.date {
    height: 100vh; /* Full viewport height */
    position: relative; /* Create a containing block for absolutely positioned children */
    width: 100%; /* Full width */
    overflow: hidden; /* Ensures content doesn't overflow the container */
    /* display: flex; */
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
}


.date::before,
.date::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 30%; /* Adjust the height of the gradient */
  pointer-events: none; /* Ensure it doesn't block interactions */
  z-index: 2; /* Place the gradients above the image */
}

/* Top-to-bottom fade */
.date::before {
  top: 0;
  background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
}

/* Bottom-to-top fade */
.date::after {
  bottom: 0;
  background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
} 

.date-container {
  text-align: center;
  font-family: 'Arial', sans-serif;
  margin: 20px;
}

.top-line,
.bottom-line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.line {
  flex: 1;
  height: 1px;
  background-color: black;
}

.center-text {
  margin: 0 10px; /* Space around the centered text */
  font-size: 1.2rem; /* Adjust size as needed */
  font-weight: bold;
}

.main-text {
  font-size: 1.5rem;
  margin: 10px 0;
}

.date_img_top {
  position: absolute;
}

.date_img_bottom {
  position: absolute;
  transform: scaleY(-1);
  bottom: 0;
  left: 0;
}

  .date_title {
    text-align: center; /* Center-align text within the container */
    color: rgb(59, 59, 59);
    font-family: "Quicksand", serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.199); 
    position: relative; /* To position text over the image */
    z-index: 2; /* Place the text above the image */
    display: flex;
    flex-direction: column; /* Stack text vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    height: 100%; /* Match the container height */
  }

.quicksand_font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.212);
}

.cormorant_font {
    font-family: "Cormorant Infant", serif;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    opacity: 0.7;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.212);
}

.cursive_font {
  font-family: "Ms Madi", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

.fifteenth {
    font-family: "Cormorant Infant", serif;
    font-style: normal;
    font-size: 4rem; 
    text-align: center;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); */
}

.date_time {
    font-family: "Cormorant Infant", serif;
    font-style: normal;
    font-size: 2rem; /* Large text size */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
}

.date_description {
  margin-left: 15%;
  margin-right: 15%;
}

/********* RSVP **********/

.text_background {
  position: relative;
  z-index: 2; /* Above the background image */
  background: rgba(255, 255, 255, 0.8); /* White with 80% opacity */
  margin: 0 auto;
  width: 90%; /* Adjust width as needed */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.rsvp {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  position: relative;
  text-align: center;
  display: flex; /* Enable Flexbox */
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  overflow: hidden;
}

.rsvp_bcg_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Make the image span the entire width */
  height: 100%; /* Make the image span the entire height */
  object-fit: cover; /* Ensures the image covers the container proportionally */
  z-index: 1; /* Place the image behind other content */
}


.rsvp::before,
.rsvp::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 30%; /* Adjust the height of the gradient */
  pointer-events: none; /* Ensure it doesn't block interactions */
  z-index: 2; /* Place the gradients above the image */
}

/* Top-to-bottom fade */
.rsvp::before {
  top: 0;
  background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
}

/* Bottom-to-top fade */
.rsvp::after {
  bottom: 0;
  background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
} 


.rsvp_title {
    font-family: "Cormorant Infant", serif;
    font-style: normal;
    font-size: 4rem; 
    font-weight: bold;
    color: black;
    opacity: 0.7;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.212);
    position: relative;
    z-index: 1;
}


/***** RSVP FORM PORTRAIT ****/
#RSVP_form {
    /* height: 130vh;  */
    width: 100%; 
    text-align: left;
    display: flex; 
    flex-direction: column; 
    align-items: left;
    padding-bottom: 20px; 
    box-sizing: border-box; 
    position: relative; 
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease-out, transform 2s ease-out; /* Ensures smooth fade */
}

.form {
  text-transform: uppercase;
    width: 75%;
    text-align: left;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: darkgreen;
    margin: 40px;
}

.button {
    background-color: darkgreen;
    color: white;
    border: none;
    margin-bottom: 20%;
}

.button:hover {
    background-color: rgb(4, 133, 4);
}

/****** SUCCESS SCREEN MODAL ON FORM SUBMIT *****/
#modalTitle {
    font-family: "Cormorant Infant", serif;
    font-style: normal;
    font-size: 2rem; 
    text-transform: uppercase;
}
#modalMessage {
    text-align: center;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/****** REGISTRY *****/
.registry {
    /* height: 100vh; */
    overflow: hidden;
    position: relative; /* Create a containing block for absolutely positioned children */
    width: 100%; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Stack text vertically */
}

.thankyou {
  font-size: 3rem;
  transform: translate(20%, -450%);
  color: #edb8c2;
  position: absolute;
  font-family: "Ms Madi", serif;
  font-style: normal;
  font-weight: lighter;
  margin-top: -50px; 
  text-align: center;
  z-index: 10;
}

.registry_description {
  text-align: center;
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-left: 15%;
  margin-right: 15%;
}

.babylist_img {
  width: 200px;
  margin: 5%;
}

/***** COUNTDOWN CLOCK PORTRAIT ****/
#countdown {
    height: 100vh; 
    width: 100%; 
    text-align: center;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    padding-bottom: 20px; 
    box-sizing: border-box; 
    position: relative; 
    overflow: hidden;

    /* transform: translateY(20px); */
}

.stitch_img {
  position:absolute;
  z-index: 1;
  width: 200px;
  left:0;
  top: 50%;
}

.clock_all {
  position: relative;
  z-index: 10;
}

.countdown_cursive {
  font-size: 3rem;
  transform: translate(15%, 460%);
  color: #edb8c2;
  position: absolute;
  font-family: "Ms Madi", serif;
  font-style: normal;
  font-weight: lighter;
  margin-top: -50px; 
  text-align: center;
  z-index: 10;
}

.countdown_description {
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
  z-index: 10;
  font-family: "Quicksand", serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 70%;
}

#clockdiv>div {
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
    background-color: #ffe6ec;
}

#clockdiv div>span {
    font-size: 2.5rem;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:gray;
    font-display: swap;
}

/* Style for visible text */
.smalltext {
    font-family: "Playfair Display SC", serif;
    font-weight: 300;
    font-style: normal;
    font-display: swap; 
}

.countdown_title {
    font-size: 3rem;
    align-self: center;
    position: relative;
    z-index: 10;
}

.countdown_img {
  margin-top: 100px;
  width: 250px;
}

.bottom {
  position: absolute;
  bottom: 0;
}

  /********* MOBILE VIEW **********/
  @media (min-width: 768px) {
    .slideshow_container {
      height: 80vh; /* Slightly shorter for larger screens if desired */
    }
    .aloha {
        font-size: 3rem;
      }
      .baby {
        font-size: 1.5rem;
      }
  }


  /* Prevent any width change for large screens (desktop mode) */
@media screen and (min-width: 1024px) {
  body {
      width: 100%;
      max-width: 768px; /* Keep it the same max-width as mobile */
  }
}

@media screen and (orientation: landscape) {
  body {
    width: 100%;
    max-width: 768px; /* Lock the width even in landscape mode */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}
}