* {box-sizing:border-box}

/* Slideshow container */
.slideshow_container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
  overflow: hidden;
}

  .slideshow_container::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 60%; /* Adjust the height of the gradient */
    background: linear-gradient(to top, white, transparent);
    pointer-events: none; /* Ensures it doesn't block clicks or interactions */
  }

body {
    margin: 0;
    /* background-color: #FEFAE0; */

}
/* Hide the images by default */
.mySlides {
    display: none;
    width: 100%;
    height: 100vh; 
    position: relative;
    margin: 0;
    overflow: hidden; /* Ensures no overflow from the image */
  }


/* Overlay for text */
.overlay {
    position: absolute;
    bottom: 0%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -40%); /* Align exactly in the center */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.199); 
    text-align: center;
    z-index: 2;
  }

.girl_girl {
    position: absolute;
    font-family: "Ms Madi", serif;
    font-style: normal;
    font-size: 5rem; 
    font-weight: lighter;
    color: #FF9FBE;
    margin-top: -50px; 
    text-align: center;
    transform: translate(130%, -40%);
    z-index: 10;
}

.baby {
    position: absolute;
    font-family: "Ms Madi", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem; 
    font-weight: lighter;
    text-align: right;
    line-height: 0.5;
    color: dimgray;
    transform: translate(90%, 70%);
    margin-top: -50px; 
    z-index: 10;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);  */
}

  /* ALOHA text */
  .aloha {
    position: relative;
    font-family: "Playfair Display SC", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 10rem; /* Large text size */
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.212);
    margin: 0; /* No extra space */
    opacity: 0.8;
    text-align: right;
    line-height: 0.7;
    z-index: 2;
}

.newline {
    display: block; /* Forces a line break */
    margin-top: 10px; /* Optional: Add additional space above the new line */
}


/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 5s; /* Adjust the duration as needed */
    animation-timing-function: ease-in-out; /* Smooth transition */
    animation-iteration-count: infinite; /* Loop the animation */
  }
  
  /* Keyframes for fade in and out */
  @keyframes fade {
    0% { opacity: 0; }   /* Completely invisible */
    25% { opacity: 1; }  /* Fully visible */
    75% { opacity: 1; }  /* Remains fully visible */
    100% { opacity: 0; } /* Fades out completely */
  }

.img_carousel {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container */
  }

/********** ITS A GIRL **********/
.girl {
    height: 100vh;
    text-align: center;
    /* background-image: url(./img3_resize.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-color: #B2AC88; */
  }

  .white_bcg {
    background-color: white;
  }

  .girl_title {
    margin-top: 40%;
    font-family: "Cormorant Infant", serif;
    font-style: normal;
    font-size: 2.5rem; /* Large text size */
    font-weight: bold;
    color: dimgray;
    text-align: center;
    margin-bottom: 10%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
    /* transform: translate(-10%, 0%); */
  }



  .girl_girl {
    font-size: 5rem;
    transform: translate(130%, -40%);
    color: #edb8c2;
  }

  .girl_img {
    width: 100%;
  }

  /* .girl_img_container::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 60%; 
    background: linear-gradient(to bottom, white, transparent);
    pointer-events: none; 
  } */


  .girl_img_container {
    position: relative;
    margin: auto;
    overflow: hidden;
  }
  

  .green_bottom {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1)
  }

  .girl_description {
    text-align: center;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 30px;
    line-height: 1.5;
  }

/********** DATE *********/
.date {
    height: 100vh;
    position: relative;
    background-image: url(./palm_corner_green.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.date::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 60%; /* Adjust the height of the gradient */
    background: linear-gradient(to top, white, transparent);
    pointer-events: none; /* Ensures it doesn't block clicks or interactions */
  }

.date_title {
    position: absolute;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.199); 
    text-align: right;
    z-index: 2;
    width: 100%;
    color: dimgray;
}
.join {
    margin-top: 50%;
    margin-right: 5%;
    text-align: right;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.feb {
    font-family: "Cormorant Infant", serif;
    font-style: normal;
    font-size: 4rem; /* Large text size */
    font-weight: bold;
    text-align: right;
    margin-right: 2%;
    margin-top: 10%;
    margin-bottom: 10%;
    color: black;
    opacity: 0.7;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.212);
    position: relative; /* Ensure z-index works */
    z-index: 1; /* Lower z-index */
}

.fifteenth {
    font-family: "Cormorant Infant", serif;
    transform:translate(20%, -60%);
    font-style: normal;
    font-size: 8rem; /* Large text size */
    /* font-weight: bold; */
    text-align: center;
    margin-bottom: 10%;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    position: relative; /* Ensure z-index works */
    z-index: 2; /* Higher z-index to appear on top of .feb */
}

.cursive {
    font-family: "Ms Madi", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    position: absolute;
}

.date_time {
    margin-top: -30%;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-right: 5%;
}
  /********* MOBILE VIEW **********/
  @media (min-width: 768px) {
    .slideshow_container {
      height: 80vh; /* Slightly shorter for larger screens if desired */
    }
    .aloha {
        font-size: 3rem;
      }
      .baby {
        font-size: 1.5rem;
      }
  }